aiofiles==0.3.2
aiohttp==2.3.3
aioredis==0.3.3
async-timeout==2.0.0
blinker==1.4
certifi==2017.4.17
chardet==3.0.4
greenlet==0.4.5
hiredis==0.2.0
httptools==0.0.9
idna==2.5
marshmallow==2.13.5
mongoengine==0.13.0
motor==1.1
multidict==3.3.2
passlib==1.7.1
py==1.5.2
pygelf==0.3.1
PyJWT==1.5.0
pymongo==3.4.0
pyshorteners==0.6.1
pytest==3.2.5
pytest-sanic==0.1.5
python-engineio==1.7.0
python-socketio==1.8.0
PyYAML==3.12
requests==2.17.3
sanic==0.6.0
SanicMongo==0.9.4.post1
six==1.10.0
ujson==1.35
urllib3==1.21.1
uvloop==0.8.1
websockets==4.0.1
yarl==0.14.2
